body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}
a:visited{color: #e5e7eb;}

ul{
    list-style-type: none;
    font-size: 18px;
}

.header{

    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header_logo{
    color: #f9faf8;
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 215px;
}

.header_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding-right: 50px;
}

.quote{
    background-color: #e5e7eb;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote_box{
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
}

.quote_text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.top{
    background-color: #1f2937;
    height: 400px;
}

.header_top{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 350px;

}

.text_top{
    display: flex;
    flex-direction: column;
}

.text_placeholder_top{
    display: flex;
    justify-content: space-around;
}

.text_top_small{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
}

.placeholder{
    background-color: gray;
    align-content: center;
}

.boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;

}

.border{
    border: 3px solid #1e66d8;
    width: 150px;
    height: 150px;
    border-radius: 6px;
}

.subtext_mid{
    display: flex;
    border: 3px solid red;
    justify-content: center;
    gap: 40px;
}

.subtexts{
    display: flex;
    border: 3px solid red;
    max-width: 170px;
    text-align: center;
}



.button_top{
width: 100px;
background-color: #3882F6;
font-weight: bold;
color: #f9faf8;
margin-top: 10px;
height: 28px;
border-radius: 6px;
border: 0px;
}

.text_middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.random_information{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 40px;
}
